@font-face {
	src: 'Underdog-Regular.ttf';
	font-family: 'Underdog', cursive;
}
body {
	background-image: url(fon3.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-color:
}
.row {
	height: 1000px;
}
.col1 { 
	height: 100px;
	background: #ff9;
	font-family: 'Underdog', cursive;
	font-size: 50px;
	color: #c00;
	display: flex;
	justify-content: center;
	align-items: center;
}
.col2 { 
	height: 900px;
	background: #ff0;
	font-family: 'Underdog', cursive;
}
.block {
	width: 250px;
	padding: 5px 10px;
}
.placeholder {
	margin-bottom: 5px
}
.input {
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	font-size: 14px;
	line-height: 15px;
}
.btn1 {
	margin-top: 10px;
	background-color: #c00;
	color: white;
	border-style: solid;
	border-radius: 5px;
}
.btn2 {
	margin-top: 10px;
	background-color: #c00;
	color: white;
	border-style: solid;
	border-radius: 5px;
}
.col3 { 
	height: 900px;
	background: #ff0; 
	font-family: 'Underdog', cursive;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
.col4 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.j-text {
	margin-top: 50px;
	padding-top: 20px;
	width: 600px;
	height: 800px;
	background-color: #c00 ;
	font-family: 'Underdog', cursive;
	font-size: 20px;
	color: white;
	display: flex;
	justify-content: center;
	text-align: center;
}